:root {
    --bg-color: #CECBD3;
    --primary-color: #3D352B;
    --secondary-color: #C6A8FF;
    --visited-links-color: #F2A541;

    --font-family: sans-serif;
}

/* INDEX PAGE HERE */











/* INDEX PAGE FINISH */
/* CONTACT PAGE HERE */











/* CONTACT PAGE FINISH */
/* FIND US PAGE HERE */












/* FIND US PAGE FINISH */
/* JAPAN PAGE HERE */










/* JAPAN PAGE FINISH */
/* GREECE PAGE HERE */










/* GREECE PAGE FINISH */
/* REVIEWS PAGE HERE */











/* REVIEWS PAGE FINISH */
/* ABOUT PAGE HERE */










/* ABOUT PAGE FINISH */