:root {
    --bg-color: #CECBD3;
    --primary-color: #3D352B;
    --secondary-color: #C6A8FF;
    --visited-links-color: #F2A541;

    --font-family: sans-serif;
}

/* EVERYTHING */

.html{
    background-color: var(--bg-color);




}

/* EVERYTHING FINISH */
/* NAVBARS */











/* NAVBARS FINISH */
/* ALL CONTENT */












/* ALL CONTENT FINISH */
/* DESTINATION PAGES CONTENT */










/* DESTINATION PAGES CONTENT FINISH */
/* HOME PAGE CONTENT */
.content--index {


}

.content__image {
    max-width: 200p;

}

.content__title {
    font-size: 20px;
}








/* HOME PAGE CONTENT FINISH */
/* CONTACT PAGE CONTENT */











/* CONTACT PAGE CONTACT FINISH */
/* ABOUT PAGE CONTENT */










/* ABOUT PAGE CONTENT FINISH */