:root {
    --bg-color: #CECBD3;
    --primary-color: #3D352B;
    --secondary-color: #C6A8FF;
    --visited-links-color: #F2A541;

    --font-family: sans-serif;
}

/* EVERYTHING */

.html{
    background-color: var(--bg-color);




}

/* EVERYTHING FINISH */
/* NAVBARS */











/* NAVBARS FINISH */
/* ALL CONTENT */












/* ALL CONTENT FINISH */
/* DESTINATION PAGES CONTENT */
.content__photos {
    display:flex;
    float: left;
    justify-content: center;  
    padding: 2em;
}

.content__photos img {
    padding: 1em;
}









/* DESTINATION PAGES CONTENT FINISH */
/* HOME PAGE CONTENT */










/* HOME PAGE CONTENT FINISH */
/* CONTACT PAGE CONTENT */











/* CONTACT PAGE CONTACT FINISH */
/* ABOUT PAGE CONTENT */










/* ABOUT PAGE CONTENT FINISH */